{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Empty page - {% endblock title %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Empty page
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>
  
{% endblock content %}