{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}

  <div class="page page-center">
    <div class="container container-slim py-4">
      <div class="text-center">
        <div class="mb-3">
          <a href="{% url 'index' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'static/logo-small.svg' %}" height="36" alt=""></a>
        </div>
        <div class="text-muted mb-3">Preparing application</div>
        <div class="progress progress-sm">
          <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}