{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Sign in link - {% endblock title %}

{% block body %}d-flex flex-column{% endblock body %}

{% block content %}

  <div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="{% url 'index' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'static/logo.svg' %}" height="36" alt=""></a>
      </div>
      <div class="text-center">
        <div class="my-5">
          <h2 class="h1">Password Changed</h2>
          <p class="fs-h3 text-muted">
            Your password has been changed successfully.
          </p>
        </div>
        <div class="text-center text-muted mt-3">
            <a href="{% url 'index' %}">Back to home</a>.
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}
