<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item"><a href="https://github.com/app-generator/django-tabler" target="_blank" rel="noopener" class="link-secondary">Download</a></li>
            <li class="list-inline-item"><a href="https://appseed.us/support/" target="_blank" rel="noopener" class="link-secondary">Support</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              &copy;
              <a href="{% url 'index' %}" class="link-secondary">Tabler</a> - Coded by AppSeed.
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>